{% extends 'base.html.twig' %}

{% block main %}

    <h1>Hello, {{ user.fullName }}</h1>

    <a href="{{ path('user_mailbox') }}">
        <span class="glyphicon glyphicon-envelope">({{ countMsg }})</span></a>

{% endblock %}